<html>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css'>
    <h1>Welcome to your inbox, <%=Name%><button onclick = "javascript:location.href = 'http://localhost:8000/logout'" type = "button" class = "btn btn-primary" style = "float: right">Logout</button>
    </h1><br>
    <button class = "btn btn-primary" onclick = "javascript:location.href = 'http://localhost:8000/compose/<%=emailAd%>'">Compose</button>
    <form action = "http://localhost:8000/inbox/delete" method = "POST">
    <center><table class = "table-striped" style = "width:80%">
        <thead>
            <th>
                <button type = "submit" class="btn btn-secondary">Delete</button>
            </th>
            <th>
                Sent from
            </th>
            <th>
                Subject
            </th>
            <th>
                Date
            </th>
        </thead>
        <tbody> 
            <% for(let i = 0; i < emails.length; i++) { %>
                <tr width = "100%">
                    <td><input type = "checkbox" name = "<%=emails[i].id%>"></td>
                    <td><%=emails[i].sender%></td>
                    <td><a href = "http://localhost:8000/inbox/<%=emails[i].id%>"><%=emails[i].subject%></a></td>
                    <td><%=emails[i].date%></td>
                </tr>
            <%}%>
        </tbody>
    </table></center>
</form>
</html>